{{#with user}}
<img src="" alt="">
<div>
    <p>Username: {{username}}</p>
    <p>Datos: {{firstName}} {{lastName}}</p>
    <p>Correo: {{email}}</p>
    <p>Contraseña: {{password}}</p>
    <p>description: {{description}} </p>
</div>
{{/with}}